@import 'mixins';
@import 'reset';
@import 'variables';
@import 'menus';

.main-header{
  @include flex-center;
  background-color: $primary-color;
  width: 100%;
  height: $header-height;
  font-family: $font-family;
}

.main-footer{
  @include flex-center;
  background-color: $primary-color;
  color: $secondary-text-color;
  width: 100%;
  height: $footer-height;
  font-family: $font-family;
}







